.footer{
	background: #333;
	min-width:1000px;
	height: 400px;
	font-size: 18px;

	.list{
		display: inline-block;
		vertical-align: top;
		margin: 50px 20px;
		ul{
			width: 130px;
			color: #828081;
			line-height: 40px;
		}
		a:link{
			color: #828081;
		}
		a:visited{
			color: #828081;
		}
		a:active{
			color: #828081;
		}
		p{
			text-align: center;
			color:#fff799;
			line-height: 33px;
			font-size: 16px;
		}

	}
	.center{
		text-align: center;
		img{
			margin-top: 5px;	
		}
	}
	h4{
		color: #fff;
		font-size: 16px;
		line-height: 36px;
	}
}