.header {
	height: 30px;
	background: #d21c29;
	font-size: 12px;
	color: black;
	line-height: 30px;

	.fr {
		float: left;

		a {
			padding-right: 25px;
		}
	}
	.tl {
		float: right;
        height: 30px;
		.about {
			padding-right: 30px;
		}
		.select {
			color: #fff;
		}
		.lang a{
			display: inline-block;
			height: 30px;
			line-height: 30px;
			vertical-align: bottom;
		}
		.lang .en{
		}
	}
	a:link{
		color: #000;
	}
	a:visited{
		color: #000;
	}
	a:hover{
		color: #fff;
	}
	
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Microsoft Yahei", "黑体", sans-serif;
}
ul,ol{
	list-style: none;
}

.w {
	width: 1170px;
	margin: auto;
}

a{
	text-decoration: none;
}
.clear{
	clear:both;
}
.nav{
	height: 74px;
	.logo{
		width: 215px;
		height: 74px;
		float: left;
		background: url('../imgs/logo.png') no-repeat center center;
	}
	.nav-list{
		margin-top: 22px;
		line-height: 28px;
		font-size: 14px;
		float: right;
		vertical-align: middle;
		.group{
			li{
				float: left;
				margin-left: 32px;
			}
			.select{
				border-bottom: 2px #d21c29 solid;
			}
		}
		a:link{
			color: #000;
		}
		a:visited{
			color: #000;
		}
		a:hover{
			color: #C81623;
		}
	}
}

