.main {
  margin-top: 40px;
  height: 400px;
}
.main .left {
  display: inline-block;
}
.main .right {
  width: 580px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
.main .right h1 {
  font-weight: normal;
  color: #333;
  font-size: 26px;
}
.main .right h1 span {
  vertical-align: bottom;
  padding-left: 5px;
  color: #666;
  font-size: 14px;
}
.main .right p {
  font-size: 14px;
  margin: 40px 0;
  color: #333;
}
.main .right .phone {
  font-size: 18px;
  color: #333;
  margin: 40px 0;
}
.main .right .mail {
  color: #333;
  font-size: 14px;
}
