.footer {
  background: #333;
  min-width: 1000px;
  height: 400px;
  font-size: 18px;
}
.footer .list {
  display: inline-block;
  vertical-align: top;
  margin: 50px 20px;
}
.footer .list ul {
  width: 130px;
  color: #828081;
  line-height: 40px;
}
.footer .list a:link {
  color: #828081;
}
.footer .list a:visited {
  color: #828081;
}
.footer .list a:active {
  color: #828081;
}
.footer .list p {
  text-align: center;
  color: #fff799;
  line-height: 33px;
  font-size: 16px;
}
.footer .center {
  text-align: center;
}
.footer .center img {
  margin-top: 5px;
}
.footer h4 {
  color: #fff;
  font-size: 16px;
  line-height: 36px;
}
