.w {
  width: 1000px;
  margin: auto;
}
.header {
  min-width: 1000px;
}
.header li a {
  display: inline-block;
}
.header a:active {
  color: #fff;
}
.header a:link {
  color: #fff;
}
.header a:visited {
  color: #fff;
}
.header .top {
  height: 25px;
  background-color: #949494;
  font-size: 14px;
  color: #fff;
}
.header .top .top-list {
  margin: auto;
  line-height: 25px;
  text-align: right;
}
.header .top .top-list li {
  display: inline-block;
  margin-left: 26px;
}
.header .content {
  overflow: hidden;
  height: 125px;
}
.header .content:after {
  clear: both;
}
.header .content .left {
  float: left;
  width: 396px;
}
.header .content .right {
  float: right;
  vertical-align: middle;
  margin-top: 38px;
}
.header .content .right .search {
  position: relative;
  width: 290px;
  display: inline-block;
  vertical-align: middle;
}
.header .content .right input {
  width: 235px;
  height: 36px;
  font-size: 20px;
  display: block;
  text-indent: 5px;
}
.header .content .right input:focus {
  outline: none;
}
.header .content .right button {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #abc236;
  height: 42px;
  width: 55px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header .content .right button:focus {
  outline: none;
}
.header .content .right .number {
  display: inline-block;
  background-color: #21b6db;
  height: 38px;
  vertical-align: middle;
  letter-spacing: 8px;
  font-size: 16px;
  padding-left: 10px;
  margin-left: 32px;
}
.header .content .right .number span {
  vertical-align: middle;
  line-height: 38px;
  color: #fff;
}
.header .nav {
  background-color: #127ad9;
  height: 48px;
}
.header .nav .nav-list {
  font-size: 18px;
  color: #fff;
}
.header .nav .nav-list li {
  display: inline-block;
  line-height: 48px;
  height: 48px;
  width: 140px;
  text-align: center;
}
.header .nav .nav-list li.select a {
  background: #fff;
  color: #6e529f;
  line-height: 40px;
  padding: 0 20px 10px 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.header .nav .nav-list li.vip {
  position: absolute;
  background-color: #abc236;
  height: 56px;
  width: 148px;
  font-size: 24px;
  line-height: 56px;
  margin-top: -4px;
}
a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft Yahei", "黑体", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
